@font-face {
  font-family: Gordita-Bold;
  src: url(Gordita-Font/Gordita-Bold.otf);
}
@font-face {
  font-family: Gordita-Black;
  src: url(Gordita-Font/Gordita-Black.otf);
}
@font-face {
  font-family: Gordita-Light;
  src: url(Gordita-Font/Gordita-Light.otf);
}
@font-face {
  font-family: Gordita-Medium;
  src: url(Gordita-Font/Gordita-Medium.otf);
}
@font-face {
  font-family: Gordita-Regular;
  src: url(Gordita-Font/Gordita-Regular.otf);
}
body{
  font-family: Gordita-Regular, sans-serif;
  color: #081539;
}
h1{
  font-family: Gordita-Bold;
  font-size: 38px;
}
.btn-link{
  text-decoration: none;
}
button#scroll-top{
  background: none;
}
#scroll-top{
  display: none;
  position: fixed;
  bottom: 80px;
  right: 75px;
  z-index: 100;
  border: none;
  cursor: pointer;
}
header a{
  text-decoration: none;
  color: #f67b10;
  font-size: 12px;
}
header .navbar{
  background-color: rgb(8, 21, 57);
}
header .search-and-toggle{
  height: 50px;
  text-align: center;
}
header .navbar .navbar-nav .nav-link {
  color: white;
  margin: 0;
  cursor: pointer;
}
header .navbar .navbar-nav .nav-link:hover{
  color: #fc7b0a;
  text-decoration: underline;
  text-underline-offset: 23px;
  text-decoration-thickness: 2px;
}
header .dropdown-menu {
  z-index: 999;
}
header .navbar-nav .dropdown:hover .dropdown-menu{
  display: block;
  margin-top: 10px;
  z-index: 2000;
}
header .navbar-nav .dropdown-menu .dropdown-item:hover{
  color: #fff;
  background-color: #fc7b0a;
  font-size: 14px;
  font-weight: 700;
  width: 103%;
}
header .info p{
  color: #FC7B0A;
  font-family: Gordita-Bold;
  margin: 0;
}
.dropdown-toggle::after {
  display: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
header .navbar-form{
  background-color: #0068fa;
  width: 100%;
}
header .navbar-form .form-control{
  background-color: #005ad8;
  border: none;
  color: white;
  width: 57%;
}
header .navbar-form .form-control::placeholder{
 color: white;
 padding: 20px 50px;
 font-size: 12px;
}
@media (max-width: 991px){
  header nav#secondary-navbar{
    display: none;
  }
}
@media (max-width: 991px){
  header .form-control {
    padding: 5px 6px 5px 6px;
    width: 63%;
  }
  header .navbar-form .form-control::placeholder{
    text-align: center;
    padding: 0px;
  }
}
header .navbar-form .btn {
  border: 0px;
  background: #005ad8;
  color: #fff;
  height: 33.5px;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  margin-top: 1px;
}
@media (min-width: 992px){
  header .navbar-form .btn{
    padding: 0px 17px;
    margin-left: 15px;
  }
}
header .s-icon {
  cursor: pointer;
  border-left: 1px white solid;
  border-right: 1px white solid;
}
@media (max-width: 991px){
  header .s-icon {
    border: none;
  }
}
.homepage .ok{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  height: 60px;
  background-color: #FC7B0A;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}
.homepage .hero-section .desktop{
  position: relative;
  background-image: url(elips-img/Group\ 6484.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 80vh;
  width: 100%;
}
.homepage .hero-section h1{
  position: absolute;
  font-size: 48px;
  bottom: 30%;
  width: 100%;
}
.homepage .hero-section h1 span{
  color: #ff9d46;
}
@media(max-width: 576px){
  .homepage .hero-section .desktop{
    background-image: url(elips-img/Group\ 6475.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 85vh;
    width: 100%;
  }
}
@media(max-width: 768px){
  .homepage .hero-section h1{
    font-size: 24px;
  }
}
.homepage .hero-section .mouse {
  text-align: center;
  position: absolute;
  bottom: 17%;
  background: none;
  border: none;
}
.homepage .biz-kimiz{
  padding: 40px 20px 20px;
}
.homepage .biz-kimiz .row{
  margin-bottom: 20px;
}
.homepage .biz-kimiz h1{
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 8px;
}
.homepage .biz-kimiz .box{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}
.homepage .biz-kimiz h4{
  font-family: Gordita-Bold;
  font-size: 24px;
}
.homepage .biz-kimiz img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .biz-kimiz .logo{
  max-width: 100%;
  height: auto;
  margin: auto;
}
.homepage .biz-kimiz p{
  font-weight: 400;
  font-size: 14px;
  width: 171px;
}
.homepage .neden-elips{
  background-image: url("http://www.elips.com/assets/img/home/nedenelips_background.svg");
  background-color: #f8f8f8;
  background-size: cover;
  padding: 40px 20px 20px;
}
.homepage .neden-elips .heading{
  color: #FC7B0A;
}
.homepage .neden-elips h4{
  font-weight: 500;
  font-size: 15px;
  margin: 0 0 8px;
}
.homepage .neden-elips ul{
  list-style-image: url("http://www.elips.com/assets/img/theme/orange-dot-list.svg");
  padding: 10px;
}
.homepage .neden-elips ul li::marker{
  color: #FC7B0A;
}
.homepage .neden-elips li{
  font-weight: 400;
  font-size: 12px;
  padding: 5px 0;
}
.homepage .neden-elips .foto{
  position: relative;
  width: 360px;
  height: auto;
  margin-left: 60px;
  z-index: 50;
}
.homepage .neden-elips .box1{
  position: absolute;
  width: 143px;
  height: 138px;
  background-color: #FC7B0A;
  margin-top: 160px;
  margin-left: -30px;
  z-index: 100;
}
.homepage .neden-elips .box2{
  position: absolute;
  width: 93.635px;
  height: 84.271px;
  background: #0068FA;
  margin-left: 187px;
  margin-top: -46px;
  z-index: 100;
}
.homepage .çözümler-hizmetler{
  padding: 40px 0 20px;
}
.homepage .çözümler-hizmetler .nav-link.active{
  border-bottom: 6px #FC7B0A solid;
  background-color: white;
  border-radius: 0;
  color: #081539;
  font-family: Gordita-Bold;
}
.homepage .çözümler-hizmetler .nav-link{
  cursor: pointer;
  text-decoration: none;
  color: rgba(8, 21, 57, 0.3);
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px 20px;
  font-size: 16px;
}
.homepage .çözümler-hizmetler h2{
  font-family: Gordita-Bold;
  font-size: 25px;
}
.homepage .çözümler-hizmetler h3{
  font-family: Gordita-Bold;
  font-size: 18px;
}
.homepage .çözümler-hizmetler .grid{
  padding: 40px;
  background-color: white;
}
.homepage .çözümler-hizmetler .grid .box-çözüm{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 5px;
}
.homepage .çözümler-hizmetler .grid .box-çözüm p{
  padding-left: 20px;
  margin-bottom: 0;
}
.homepage .çözümler-hizmetler .grid .list-img{
  position: absolute;
  padding-top: 5px;
}
.homepage .çözümler-hizmetler .grid .box-hizmet{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.homepage .çözümler-hizmetler .grid .box-hizmet .text{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.homepage .çözümler-hizmetler .grid .box-hizmet .text p{
  padding-left: 20px;
  margin: 0;
}
.homepage .çözümler-hizmetler .grid .box-hizmet .incele a{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 20px;
}
.homepage .çözümler-hizmetler .right-img{
  position: absolute;
  left: 40px;
  bottom: -10%;
  width: 100%;
}
.homepage .çözümler-hizmetler .right-img img{
  max-width: 100%;
  height: auto;
}
.homepage .çözümler-hizmetler .çözüm{
  background-image: url("elips-img/Blue-solutions-bg.svg");
  background-size: cover;
}
.homepage .çözümler-hizmetler .hizmet{
  background-image: url("elips-img/Orange-solutions-bg.svg");
  background-size: cover;
}
/*.homepage .blue-lines .line img{
 position: absolute;
 left: 0; 
}*/
.homepage .rakamlarla-elips{
  background-color: #f8f8f8;
  background-size: cover;
  padding: 40px 20px 20px;
}
.homepage .rakamlarla-elips .box{
  padding: 100px 20px;
  margin: 20px;
  background-color: white;
  z-index: 10;
  position: relative;
}
.homepage .rakamlarla-elips .box .col-header{
  font-size: 48px;
  padding-bottom: 30px;
  text-align: center;
}
.homepage .rakamlarla-elips.box p{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.homepage .rakamlarla-elips .orange-box{
  position: absolute;
  width: 150px;
  height: 150px;
  right: 0;
  top: -10px;
  background-color: #fc7b0a;
  z-index: 1;
}
.homepage .rakamlarla-elips .blue-box{
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: -10px;
  background-color: #0068fa;
  z-index: 1;
}
.homepage .sektörler{
  background-color: #f5f5f5;
  background-image: url("http://www.elips.com/assets/img/home/sektorler-background.png");
  background-size: cover;
  padding: 40px 20px 20px;
}
.homepage .sektörler .box{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}
.homepage .sektörler .box .box-content{
  text-align: center;
}
.homepage .sektörler .box .img-fluid{
  max-width: 100%;
  height: auto;
}
.homepage .sektörler .box p{
  font-size: 12px;
  font-weight: 700;
  padding-top: 10px;
  margin: 0;
}
footer .form{
  background-color: rgb(252, 131, 24);
  background-image: url("	http://www.elips.com/assets/img/theme/footer-orange-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 20px;
  color: white;
}
footer .form h3{
  font-size: 38px;
  font-weight: 700;
}
footer .form .iletişim p{
  margin-bottom: 0;
  padding-left: 10px;
  padding-top: 10px;
}
footer .form .iletişim{
  display: flex;
  padding: 0 12px 40px;
}
footer .form .yardım-form{
  color: #081539;
}
footer .form .yardım-form .form-input{
  width: 100%;
  padding: 5px;
  border: 1px solid #ced4da;
}
footer .form .yardım-form .btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #FC7B0A;
  border: 1px solid #FC7B0A;
  border-radius: 0;
  min-width: 130px;
  margin-top: 5px;
  padding: 16px 12px;
  float: right;
}
footer .form .buton{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
  height: 60px;
  color: #FC7B0A;
  background-color: white;
  cursor: pointer;
  font-weight: 700;
}
footer .bilgi{
  background-color: #081539;
  color: white;
  padding: 50px 20px 20px;
}
footer .bilgi h5{
  font-family: Gordita-Bold;
  font-size: 18px;
  padding-bottom: 20px;
}
footer .bilgi ul{
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}
footer .bilgi .markalar li{
  padding-bottom: 20px;
}
footer .bilgi li{
  padding-bottom: 5px;
}
footer .bilgi .info{
  font-size: 14px;
  text-align: right;
}
footer .bilgi .info .adres{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bilgi .info .adres img{
  padding: 0 0 20px 10px;
  margin-bottom: 16px;
}
footer .bilgi .info a{
  text-decoration: none;
  color: #ffffff;
}
footer .bilgi .info .logo{
  margin: 20px 0 20px 40px;
}
footer .bilgi .mobil .info .adres img{
  padding: 0 0 20px 10px;
  margin-bottom: 90px;
}
footer .bilgi .mobil .info .adres p{
  padding-bottom: 20px;
  margin-bottom: 10px;
}
footer .copyright{
  background-color: #081539;
  color: #ffffff;
  background-image: url("http://www.elips.com/assets/img/theme/footer-waves-background.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding-top: 130px;
}
footer .copyright h5{
  font-size: 12px;
  margin-bottom: 8px;
  text-align: center;
}
footer .copyright .title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 12px;
  padding-top: 10px;
}
footer .copyright .title p{
  padding: 0 10px;
  margin: 0;
}
footer .copyright .footnote{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 12px;
}
footer .copyright .footnote p{
  padding: 10px;
  margin: 0;
}